$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  width: 100vw;
  label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1vw 5vw 1vw 2vw;

    &.methods {
      button {
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.25rem 0.5rem;
        background: #ccc;
        &:focus {
          background-color: rgb(159, 159, 235);
        }
        // &:hover,
        &.active {
          background: #fff;
        }
      }
    }

    & input {
      width: 30vw;
    }
  }
}
